= render :partial => '/components/adminnav', :locals => { :current => 'situations' }
.ui.grid
  .twelve.wide.column.centered
    %h1
      Editing
      =@situation.name
    .ui.divider
    = render 'form'
    .ui.divider
    = link_to 'Show', @situation, class:'ui basic button green'
    = link_to 'Back', situations_path, class:'ui basic button'