= render :partial => '/components/adminnav', :locals => { :current => 'situations' }
%p#notice= notice
.ui.divider
.ui.grid
  .ui.three.wide.column
    .ui.row
      %strong Name:
      %span
        =@situation.name
  .ui.five.wide.column
    .ui.row
      %strong Description:
      .div
        =@situation.description.html_safe
  .ui.three.wide.column
    %strong Situation Image:
    %img{:src=> image_path('situations/'+@situation.situationimg)}
.ui.divider
= link_to 'Edit', edit_situation_path(@situation), class: 'ui red basic button'
= link_to 'Back', situations_path, class: 'ui green basic button'
