%nav{:class=>'main navigation ui fixed top sticky'}
  %div{:class=>'ui page grid'}
    %div{:class=>'eight wide column'}
      %a{:href=> root_path, :class=> 'ui medium image'}
        =image_tag('logo.svg')
    %div{:class=>'one wide column'}
    %div{:class=>'six wide column'}
      %div{:class=>'ui text menu', :id => 'main_navigation'}
        -sidenavnames = @shortnavigationitems.keys
        -sidenavnames.each do |s|
          =link_to @shortnavigationitems[s.to_sym], root_path(anchor:s), class:'item'
    %div{:class=>'one wide column'}
      %button{:class=> 'ui button', :id=>'toggle'} Menu