.ui.vertical.segment{:id=>'wicker_materials'}
  .ui.page.grid
    .eight.wide.centered.column
      %h1{:class=>'wckr materials heading-title'}  Materials
      - @materials.each do |m|
        %h2{:class=>'wckr downloads heading-title'}
          =m.name
        .wckr.materials.rule
          %hr
        .wckr.materials.description
          =m.description.html_safe
        %ul{:class=>'wckr downloads linky'}
          -@downloads.each do |d|
            -if(d.material_id==m.id)
              %li
                %a{:href=> image_path('downloads/'+d.link)}
                  = d.file