%div{:class => 'ui right vertical inverted sidebar menu', :id => 'sidenav'}
  %h4{:class=>'sidebar header'}Meet the characters
  - @characters.each do |c|
    %a{:class=>'item shoppecharacter'}
      =c.name
