
%div{:id=>'wicker_situations'}
  %h1{:class=>'wckr situations heading-title'} Situations
  - @situations.each do |s|
    .ui.vertical.segment.bleedy{:style=> 'background-image: url('+image_path('situations/'+s.situationimg)+')'}
      .ui.page.grid
        .column
          =s.name
          =s.description.html_safe