%h1{:id=>'wicker_situations'} The World of Wicker Wonder
.see-situations
  - @situations.each do |s|
    .see-situation
      =s.name
      =s.description.html_safe
      %img{:src=>image_path('characters/'+s.situationimg)}
      %img{:src=>image_path('characters/'+s.situationthumbnail)}