.ui.grid{:id=>'wicker_welcome'}
  .row.wckr.welcome.graph{:id=>'welcome_1'}
    .twelve.wide.column.centered
      %p In the very distant future, people change their bodies into anything they wish.
  .row.wckr.welcome.graph{:id=>'welcome_2'}
    .twelve.wide.column.centered
      %p People can become animals, plants and machines. Other life forms and even objects can become human.
  .row.wckr.welcome.graph{:id=>'welcome_3'}
    .twelve.wide.column.centered
      %p These fantastic transformations occur at places called body shops and are performed by the brilliant technicians known as barbers.
  .row.wckr.welcome.graph{:id=>'welcome_4'}
    .twelve.wide.column.centered
      %p And the most brilliant, legendary barber of all time is...
  .row.wckr.welcome.graph{:id=>'welcome_5'}
    .twelve.wide.column.centered
      %img{:src => image_url('wicker_large.png')}
      %img{:src => image_url('logo.svg')}

