.ui.vertical.segment{:id=>'wicker_welcome', :class=>'spotlight'}
  .ui.page.grid
    .column
      .wckr.welcome-visual-hold
        %img{:src=>image_path('wholegang.png'), :class=> 'wckr welcome-visual', :id=>'welcome_visual'}
      .wckr.welcome-logo-hold{:id=>'welcome_logo', :class=>'first-pos'}
        %img{:src=>image_path('logo.png'), :class=>'wckr welcome-logo'}
      .wckr.welcome-subtitle-hold
        %h1{:class=>'wckr welcome-subtitle first-pos',:id =>'welcome_subtitle'}
          Transdimensional Barber
      .wckr.welcome-credit-hold.first-pos{:id => 'welcome_credits'}
        %p{:class=>'wckr welcome-credit'}
          a concept for a animated series by
          %a{:itemscope => true, :itemtype =>'http://schema.org/Person', :href=>'http://www.imaginary.foundation/gabrielwalsh'}
            %span{:itemprop => 'givenName'}
              Gabriel
            %span{:itemprop => 'familyName'}
              Walsh.
      .wckr.welcome-msg-hold.first-pos{:id=>'welcome_message'}
        .wckr.welcome-msg
          %p In the very distant future, people change their bodies into anything they wish. People can become animals, plants and machines. Other life forms and even objects can become human.
          %p These fantastic transformations occur at places called body shops and are performed by the brilliant technicians known as barbers. And the most brilliant, legendary barber of all time is Wicker Wonder, Transdimensional Barber.
