.ui.inverted.vertical.segment{:id=>'wicker_welcome'}
  .ui.page.grid
    .column
      %img{:src=>image_path('wholegang.png'), :class=> 'wckr welcome-visual'}
      %img{:src=>image_path('logo.png'), :class=>'wckr welcome-logo'}
      .wckr.welcome.subtitle Transdimensional Barber
      .wckr.welcome.msg
        %p
          Wicker Wonder is a concept for a animated series by
          %span{:itemscope => true, :itemtype =>'http://schema.org/Person'}
            %span{:itemprop => 'givenName'}
              Gabriel
            %span{:itemprop => 'familyName'}
              Walsh
          \.

