= render :partial => '/components/adminnav', :locals => { :current => 'downloads' }
.ui.grid
  .twelve.wide.column.centered
    %h1 New downloads
    .ui.divider
    = render 'form'
    .ui.divider
    = link_to 'Back', downloads_path, class: 'ui green basic button'