= render :partial => '/components/adminnav', :locals => { :current => 'downloads' }
%p#notice= notice
%h3
  For
  =@download.material_id
%a{:href=>@download.link} @download.file
= link_to 'Edit', edit_downloads_path(@download), class: 'ui red basic button'
= link_to 'Back', downloads_path, class: 'ui green basic button'
