=render partial: 'components/sidenav', locals: {characters: @characters}
%div{:class=>'pusher'}
  =render partial: 'components/headernav'
  %div{:id=>'vertical_field'}
    -areanames = @shortnavigationitems.keys
    -areanames.each do |a|
      %div{:id => a, :class => 'ui segment wonder-card',:data=>{:stellar_background_ratio =>'0.5'}}
        =@shortnavigationitems[a.to_sym]