%div{:class=>'ui grid'}
  .row
    %div{:class=>'two wide column'}
    %div{:class=>'four wide column'}
      %div{:class=>'character main portrait', :style=>'background-image: url(http://lorempixel.com/400/700)'}
    %div{:class=>'two wide column'}
    %div{:class=>'four wide column'}
      %div{:class=>'ui segment'}
        -@characters.each do |d|
          %h2
            = d.name
          = raw d.shortbio
    %div{:class=>'two wide column'}