= render :partial => '/components/adminnav', :locals => { :current => 'characters' }
.ui.grid
  .twelve.wide.column.centered
    %h1 New character
    .ui.divider
    = render 'form'
    .ui.divider
    = link_to 'Back', characters_path, class: 'ui green basic button'