.ui.left.vertical.inverted.labeled.icon.sidebar.menu{:id => 'sidenav'}
  %a{:class=>'item'}
    %i{:class=>'home icon'}
    Home
.pusher.wckr.bg
  .wckr.navigtation.trigger
  .ui.black.right.attached.fixed.icon.button{:id=>'trigger'}
    %i{:class=>'content icon'}
  .ui.vertical.segment{:id=>'main'}
    .ui.page.grid
      //= render :partial => 'components/welcome'
      .ui.centered.row
        .ui.twelve.wide.column
          = render :partial => 'components/characters', :locals => {:characters => @characters}
      = render :partial => 'components/situations'
      = render :partial => 'components/closer'
      = render :partial => 'components/materials'