= render :partial => 'components/menubutton'
.ui.sidebar
  = render :partial => 'components/menu'
.pusher
  .ui.vertical.segment
    .ui.page.grid
      .segment
        %p Welcome Area
      .divider
      .segment
        %p Meet the Characters
      .divider
      .segment
        %p Situations
      .divider
      .segment
        %p Closing/Contact
      .divider
      .segment
        %p Materials
      .divider