.ui.left.vertical.inverted.labeled.icon.sidebar.menu{:id => 'sidenav'}
  %a{:class=>'item', :href=>'#wicker_welcome', :data =>{:scroll=>true}}
    Home
  %a{:class=>'item', :href=>'#wicker_characters', :data =>{:scroll=>true}}
    Meet the Characters
  %a{:class=>'item', :href=>'#wicker_situations', :data =>{:scroll=>true}}
    Wicker's World
  %a{:class=>'item', :href=>'#wicker_info', :data =>{:scroll=>true}}
    Contact
  %a{:class=>'item', :href=>'#wicker_materials', :data =>{:scroll=>true}}
    Download Materials
.pusher
  .wckr.navigtation.trigger
  .ui.black.right.attached.fixed.icon.button{:id=>'trigger'}
    %i{:class=>'content icon'}
  .ui.vertical.segment{:id=>'main'}
    .ui.page.grid
      .ui.centered.row
        .ui.twelve.wide.column
          //= render :partial => 'components/welcome'
      .ui.centered.row
        .ui.twelve.wide.column
          = render :partial => 'components/characters', :locals => {:characters => @characters}
      .ui.centered.row
        .ui.twelve.wide.column
          = render :partial => 'components/situations', :locals => {:situations => @situations}
      .ui.centered.row
        .ui.twelve.wide.column
          = render :partial => 'components/closer'
      .ui.centered.row
        .ui.twelve.wide.column
          = render :partial => 'components/materials', :locals => {:downloads => @downloads, :materials => @materials}