@mixin text-shadow($s: 0 5px 3px rgba(0, 0, 0, 0.25)){
  text-shadow: $s;
}

@mixin box-shadow($s: 3px 3px 10px rgba(0,0,0,0.35)){
  -webkit-box-shadow: $s;
  -moz-box-shadow:    $s;
  box-shadow:         $s;
}

@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spr:  0px,$a: 0.25) {
  -webkit-box-shadow:	$x $y $blur $spr rgba(0, 0, 0, $a);
  -moz-box-shadow:	$x $y $blur $spr rgba(0, 0, 0, $a);
  box-shadow:		$x $y $blur $spr rgba(0, 0, 0, $a);
}

@mixin gradient ($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
}

@mixin gradientandimg ($startColor: #eee, $endColor: white, $img: 'http://lorempixel.com/10/10/') {
  background-image: url($img);
  background-image: url($img), -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background-image: url($img), -webkit-linear-gradient(top, $startColor, $endColor);
  background-image: url($img), -moz-linear-gradient(top, $startColor, $endColor);
  background-image: url($img), -ms-linear-gradient(top, $startColor, $endColor);
  background-image: url($img), -o-linear-gradient(top, $startColor, $endColor);
}

@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
