$white: rgb(253,253,253);
$lightgrey: rgb(227, 223, 216);
$grey: rgb(185,184,167);
$darkgrey: rgb(152,154,136);
$darkergrey: rgb(71,69,60);
$nearblack: rgb(33,32,27);
$blue: rgb(144,176,200);
$red: rgb(188,70,96);
$yellow: rgb(254,201,0);
$copper: rgb(204,162,27);
$wickergreen: rgb(197,249,223);
$green: rgb(43,153,95);
$purple: rgb(100,58,145);
$orange: rgb(255,149,0);
$lightbrown: rgb(193,84,23);