
$sans: "futura-pt-condensed",sans-serif;
$serif: "ltc-bodoni-175",serif;


@mixin presenter($sz: 18px, $col: black){
  line-height: $sz;
  letter-spacing: 4px;
  font-family: $serif;
  font-size: $sz;
  text-align: center;
  color: $col;
}

@mixin labeling ($sz: 20px, $col: black, $bg: white){
  font-size: $sz;
  color: $col;
  font-family: serif;
  background-color: $bg;
  line-height: $sz;
}

@mixin reading($sz:24px, $col:black){
  line-height: $sz;
  font-family: $sans;
  font-size: $sz;
  color: $col;
}

@mixin character-name(){
  font-family: $serif;
  text-decoration: underline;
  font-size: 4em;
  @include text-shadow();
}

@mixin wicker-segment-headings($s:80px,$sh:-1px 3px 5px rgba(180, 180, 180, .75),$c:$white){
  text-align: center;
  font-family: $serif;
  font-size: $s;
  color: $c;
  @include text-shadow($sh);
}