@import "typography";
@import "palette";
@import "textures";
@import "effects";
@import "semantiglobalcoverides";

#wicker_characters{
  @media (max-width:$tiny-mobile-max) {
    border: 1px solid orange;
  }
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    border: 1px solid green;
  }
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    border: 1px solid purple;
  }
  @media (min-width: $computer-min) and (max-width: $computer-max) {
    border: 1px solid red;
  }
  @media (min-width: $large-monitor-min) and (max-width: $large-monitor-max) {
    border: 1px solid blue;
  }
  @media (min-width: $wide-screen-min) {
    border: 1px solid yellow;
  }
}
.wckr.character.name{
  @include character-name();
  padding: 20px 0px 20px 10px;
}

.wckr.character.pairing{
  span{
    @include labeling(20px,$darkergrey,transparent);
  }
  span:nth-of-type(1){
    @include labeling(20px,$nearblack,transparent);
  }
  img{
    max-height: 500px;
    display: block;
  }
}
.wckr.character.biography{
  @include reading(22px,$darkgrey);
  pre{
    @include reading(22px,$darkgrey);
    background-color: transparent;
  }
}

.wckr.strata.heading-title{
  @media (max-width:$tiny-mobile-max) {
    @include wicker-segment-headings(40px, -1px 3px 6px rgba(180, 180, 180, .60), $white);
    margin-bottom: 20px;
  }
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    @include wicker-segment-headings(50px, -1px 4px 5px rgba(180, 180, 180, .50), $white);
  }
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @include wicker-segment-headings(60px, -1px 4px 5px rgba(180, 180, 180, .50), $white);
  }
  @media (min-width: $computer-min) {
    @include wicker-segment-headings();
  }
}

.meet-the-characters{
  @include box-shadow(-1px 5px 10px transparentize($grey, 0.75));
  @include tri-bg();
  @media (max-width:$tiny-mobile-max) {
    img{
      max-height: 260px;
      margin-left: 10%;
    }
    .character-info{
      float: right;
      max-width: 50%;
      margin-right: 5%;
      margin-top: 10%;
      hr{
        display: none;
      }
      .character-title{
        font-family: $serif;
        color:$nearblack;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
      }
      .character-bio{
        display: none;
      }
      .character-pair-group{
        display: none;
      }
    }
  }
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    img{
      max-height: 280px;
      margin-left: 8%;
    }
    .character-info{
      float: right;
      max-width: 60%;
      margin-right: 5%;
      margin-top: 5%;
      hr{
        display: none;
      }
      .character-title{
        font-family: $serif;
        color:$nearblack;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
      }
      .character-bio{
        font-size:18px;
        clear:both;
        text-align: justify;
      }
      .character-pair-group{
        display: none;
      }
    }
  }
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    img{
      max-height: 320px;
      margin-left: 10%;
    }
    .character-info{
      float: right;
      max-width: 60%;
      margin-right: 10%;
      margin-top: 2%;
      hr{
        clear: both;
        display: block;
        @include drop-shadow();
        margin: 10px 0px 10px 0px;
      }
      .character-title{
        font-family: $serif;
        color:$nearblack;
        font-weight: 400;
        font-size: 50px;
        text-align: center;
      }
      .character-bio{
        font-size:20px;
        margin-top: 14px;
        clear:both;
        text-align: justify;
        p:not(:first-child){
          margin-top: -20px;
        }
      }
      .character-pair-group{
        .character-pair{
          span:nth-child(1){
            font-weight: 900;
          }
        }
      }
      .character-pair-group.left, .character-pair-group.right{
        font-size: 15px;
      }
      .character-pair-group.left{
        float: left;
        width: 65%;
      }
      .character-pair-group.right{
        display: inline-block;
      }
    }
  }
  @media (min-width: $computer-min) and (max-width: $computer-max) {
    img{
      max-height: 380px;
      margin-left: 8%;
    }
    .character-info{
      float: right;
      max-width: 60%;
      margin-right: 10%;
      margin-top: 5%;
      hr{
        clear: both;
        display: block;
        @include drop-shadow();
        margin: 10px 0px 10px 0px;
      }
      .character-title{
        font-family: $serif;
        color:$nearblack;
        font-weight: 400;
        font-size: 60px;
        text-align: center;
      }
      .character-bio{
        font-size:20px;
        margin-top: 14px;
        clear:both;
        text-align: justify;
        p:not(:first-child){
          margin-top: -20px;
        }
      }
      .character-pair-group{
        .character-pair{
          span:nth-child(1){
            font-weight: 900;
          }
        }
      }
      .character-pair-group.left, .character-pair-group.right{
        font-size: 15px;
      }
      .character-pair-group.left{
        float: left;
        width: 65%;
      }
      .character-pair-group.right{
        display: inline-block;
      }
    }
  }
  @media (min-width: $large-monitor-min) {
    img{
      max-height: 440px;
      margin-left: 10%;
    }
    .character-info{
      float: right;
      max-width: 60%;
      margin-right: 10%;
      margin-top: 5%;
      hr{
        clear: both;
        display: block;
        @include drop-shadow();
        margin: 10px 0px 10px 0px;
      }
      .character-title{
        font-family: $serif;
        color:$nearblack;
        font-weight: 400;
        font-size: 80px;//
        text-align: center;
      }
      .character-bio{
        font-size:20px;
        margin-top: 15px;
        clear:both;
        text-align: justify;
        p:not(:first-child){
          margin-top: -20px;
        }
      }
      .character-pair-group{
        .character-pair{
          span:nth-child(1){
            font-weight: 900;
          }
        }
      }
      .character-pair-group.left, .character-pair-group.right{
        font-size: 18px;
      }
      .character-pair-group.left{
        float: left;
        width: 65%;
      }
      .character-pair-group.right{
        display: inline-block;
      }
    }
  }
}
