@import "typography";
@import "palette";
@import "textures";
@import "effects";

.wckr.character.name{
  @include character-name();
  padding: 20px 0px 20px 10px;
}

.wckr.character.pairing{
  margin-left: 10px;
  span{
    @include labeling(20px,$darkergrey,transparent);
  }
  span:nth-of-type(1){
    font-weight: 900;
    @include labeling(20px,$nearblack,transparent);
  }
  img{
    max-height: 500px;
    display: block;
  }
}
.wckr.character.biography{
  margin-top: 10px;
  @include reading(22px,$darkgrey);
  pre{
    @include reading(22px,$darkgrey);
    background-color: transparent;
  }
}

.wckr.strata.heading-title{
  @include wicker-segment-headings();
}

.meet-the-characters{
  min-height: 500px;
  @include box-shadow(-1px 5px 10px transparentize($grey, 0.75));
  @include tri-bg();
  .character-info{
    float:right;
    max-width: 675px;
    margin-right: 40px;
    .character-title{
      font-family: $serif;
      color:$nearblack;
      font-weight: 400;
      font-size: 100px;
      margin-top: 50px;
      margin-left: -25px;
    }
    .character-bio{
      font-size:20px;
      margin-top: 15px;
      max-width: 640px;
      max-height: 400px;
      p:not(:first-child){
        margin-top: -20px;
      }
    }
    .character-pair-group{
      font-size:30px;
      .character-pair{
        span:nth-child(1){
          font-weight: 900;
          margin-right: 5px;
        }
      }
    }
    .character-pair-group.left, .character-pair-group.right{
      max-width: 49%;
      display: inline-block;
      margin-top: -15px;
    }
    .character-pair-group.right{
      margin-left: 20%;
    }
  }
}
