@import "palette";
@import "typography";
@import "effects";
@import "textures";


#trigger{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#sidenav{
  .item.active{
    @include gradient($darkgrey, lighten($darkgrey, 8%));
    color: $white
  }
  background-color: $nearblack;
}