@import "effects";
@import "palette";
@import "typography";
@import "textures";

h1,h2,h3,h4,h5{
  font-family: $sans;
}

html,body,p{
  font-family: $serif;
}

.ui.button{
  font-family: $serif !important;
}

a{
  color: inherit;
  &:hover{
    color: $blue;
  }
  &:visited{
    color: inherit;
  }
}
$tiny-mobile-max: 500px;
$mobile-min: 499px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 992px;
$computer-min: 991px;
$computer-max: 1399px;
$large-monitor-min: 1400px;
$large-monitor-max: 1919px;
$wide-screen-min: 1920px;


@mixin testResponsive(){
  @media (max-width:$tiny-mobile-max) {
    border: 1px solid orange;
  }
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    border: 1px solid green;
  }
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    border: 1px solid purple;
  }
  @media (min-width: $computer-min) and (max-width: $computer-max) {
    border: 1px solid red;
  }
  @media (min-width: $large-monitor-min) and (max-width: $large-monitor-max) {
    border: 1px solid blue;
  }
  @media (min-width: $wide-screen-min) {
    border: 1px solid yellow;
  }
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}