= render :partial => '/components/adminnav', :locals => { :current => 'materials' }
.ui.grid
  .twelve.wide.column.centered
    %h1
      Editing
      =@material.name
    .ui.divider
    = render 'form'
    .ui.divider
    = link_to 'Show', @material, class:'ui basic button green'
    = link_to 'Back', materials_path, class:'ui basic button'