= render :partial => '/components/adminnav', :locals => { :current => 'materials' }
.ui.grid
  .twelve.wide.column.centered
    %h1 New material
    .ui.divider
    = render 'form'
    .ui.divider
    = link_to 'Back', materials_path, class: 'ui green basic button'