!!!
%html
  %head
    %title Wicker Wonder
    %script{ :type => 'text/javascript', :src => '//use.typekit.net/jql8arq.js'}
    %script{ :type => 'text/javascript'} try{Typekit.load();}catch(e){}
    %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield